<nav class="navbar navbar-expand-lg bg-dark-brown">
    <a class="navbar-brand text-white" href="/">BorrowBooks</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/all-books">All Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account-info">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transactions">Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sign-out">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>