<div class="jumbotron jumbotron1 mb-0">
    <div class="jumbotron1-inner mx-auto w-50">
        <h3 class="display-3 text-black p-3 font-weight-bold ">Search for Books</h3>
        <form action="/search" method="post">
            <div class="input-group mb-3">
                <input class="form-control" name="keyword" type="text"/>
                <button class="btn btn-outline-secondary" name="submit" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>